
body{
    font-family: 'Poppins', sans-serif;
}
.carousel-item {
    float: right;
    margin-left: -100%;
    margin-right: 0;

}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    font-size: 13px;
    font-weight: 400;
}
.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    font-weight: 500;
}
@media (min-width: 992px){
    .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
        border-right: 0.5px solid #D8D6D6;
       
        border-left: none;
    }

}

.language {
    border-right: 1px solid #C9372A !important;
}
.remove-border-left{
    border-right: none !important;
   
}
.btn-download{
    height: auto;
}
.img-polygon {
    left: 0;
}
.text-header, .text-header2 {
    font-size: 40px;
}
.carousel-indicators .active::after {
    left: -3px;
}
.text {
    color: #707070;
    font-size: 20px;
    font-weight: 400;
}
.box {
    height: 214px;
    min-height: 214px;
}
.circle-text {
    font-size: 22px;
    color: #333333;
    font-family: system-ui;
    font-weight: 400;
    padding: 3rem 1rem 2rem 1rem;
    border: 1px solid #D6D6D6;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.large_box:hover > .small-circle > .circle-text {
    padding: 3rem 1rem 2rem 1rem;
}
.links {
    font-size: 14px;
    color: white;
}
.img-download{
    width:100px ;
}
@media (max-width: 575px){
    .text-header, .text-header2 {
        font-size: 26px;
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }
    .section1 {
        min-height: 925px;
    }
    .carousel-indicators {
        bottom: -65px;
    }
    .justify-content-center-mobile{
        justify-content: center;
    }
    .btn-signUp{
        border-right: 1px solid #c33828 !important;
    }
    .padding-mobile{
        padding-left: 20px;
    }
    .img-download {
        width: 130px;
    }
}
@media (min-width: 576px) and (max-width: 767px) { 
    .section1 {
        min-height: 925px;
    }
    .carousel-indicators {
        bottom: -65px;
    }
    .justify-content-center-mobile{
        justify-content: center;
    }
    .btn-signUp{
        border-right: 1px solid #c33828 !important;
    }
    .padding-mobile{
        padding-left: 20px;
    }
    .img-download {
        width: 130px;
    }
}


@media (max-width: 1400px) and (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
} 
.section1{
    min-height: 909px;
} 
.person, .display-u {
    margin-right: -55px !important;
    padding-top: 164px;
}
.img-carchters {

    display: none;

}
.carousel-indicators {
    bottom: 62px;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    font-size: 12px;
}

}
@media (width: 1366px)
{
 .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    font-size: 13px !important;
}   
}

.justify-content-flexend{
    justify-content: flex-end;
}
@media (min-width: 1500px){
    .img-carchters {
      right: 0;
    }
}
.display-none{
    display: none !important;
  }
 
  .img-red-charachter {
    position: absolute;
    margin-top: -16%;
    right: 0;
    z-index: -1;
}
@media (max-width: 1513px) and (min-width: 1401px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (max-width: 991px) and (min-width: 768px){
  .carousel-indicators {
    bottom: -50px;
}
  .justify-content-center-mobile{
      padding-left: 13px;
  }
}

@media (min-width: 1514px) and (max-width: 1731px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
  }
  }
  @media (min-width: 1024px) and (max-width: 1200px) {

  }
  @media (min-width: 992px) and (max-width: 999px) {

    .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
      font-size: 8px;
    }
      }
  @media (min-width: 1000px) and (max-width: 1135px) {

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  font-size: 9px;
}
  }