.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #707070;
    transition: .35s;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    border-left: none;
}
@media (max-width: 992px){
    .navbar-collapse {
        display: initial;
        flex-direction: column;
    }
}
@media (max-width: 575px){
    .divider-new, .navbar .nav-flex-icons {
        padding-right: 21px;
        padding-left: 21px;
    }
}
body{
    background-color: #F5F5F5;
}
.card, .navbar, .pagination .page-item.active .page-link {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0%), 0 2px 10px 0 rgb(0 0 0 / 9%);
}




.nav-sidebar{
    list-style: none;
    padding-inline-start: 10px;
}
.wrapper .sidebar {
    padding: 30px 0px;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05)
}

.wrapper .sidebar ul li a {
    color: #202020;
    font-family: system-ui;
    font-size: 15px;
    font-weight: 400;
}
.wrapper .sidebar ul li a:hover {
text-decoration: none;
}
.wrapper .sidebar ul li a .fa {
    width: 25px
}
.wrapper .sidebar ul li.active {
    background-color: #F5F5F5;
}

.wrapper .sidebar ul li:hover {
    background-color: #7d777717
}

.wrapper .sidebar ul li:hover a {
    color:#202020
}
[class^="la-"], [class*=" la-"] {
    font-size: 1.5rem;
}
.edit-Ifo{
    font-size: 20px;
    color: #C9372A;
    text-decoration: underline;
}
.edit-Ifo:hover {
    color: #C9372A;
}
.dash-title{
    font-size: 20px;
    color: #C9372A;
}
.data{
    font-size: 17px;
    font-family: system-ui;
    font-weight: 500;
    color: #A0A0A0;
}
.info{
    font-size: 17px;
    font-family: system-ui;
    font-weight: 500;
    color: #212121;
}
.input-payment {
     margin-right: 0 !important; 
     height: 70px;
     color: #666666!important;
     font-size: 17px !important;
     width: 100%;
}
.payment_info {
    color: #212121;
    font-size: 20px;
}
.btn-SaveData{
    color: white !important;
    font-size: 20px !important;
    background-color: #C9372A;
    border: 2px solid #FED252;
    border-radius: 15px;
}
.m-nav .m-nav__item>.m-nav__link .m-nav__link-text {
    color: #6f727d;
    font-weight: 600;
    font-size: 16px;
}
label {
    width: 0;
    border: 0px !important;
}
.m-switch input:checked ~ span:before {
    background-color: #FED252;
}
.m-switch input:checked ~ span:after {
    background-color: white;
}
.m-switch input:empty ~ span:after {
    background-color: #ffffff;
}
.switch-text{
    font-size: 18px;
    color: #666666;
}
.label-switch{
    width: 80px;
}
.m-portlet .m-portlet__head .m-portlet__head-text {
    color: #C9372A;
    font-size: 25px !important;
}
.m-portlet .m-portlet__head {
    border-bottom: none;
    background-color: #F5F5F5;
}
.header-table-text{
    font-size: 20px;
    color: #212121;
}
.data-table-text{
    font-size: 18px;
    color: #979797;
}
.btn-upgrade{
    background-color: #FED252;
    color: #c9372a !important;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: 18px !important;
    padding: 0rem 1.4rem !important;
}
.btn-downgrade{
    background-color: #ffffff;
    color: #c9372a !important;
    width: 110px;
    height: 40px;
    border: 2px solid #FED252 !important;
    border-radius: 6px;
    font-size: 18px !important;
    padding: 0rem 1.4rem !important;
}
.span-switch{
    float: inherit !important;
}

@media (max-width: 575px) {
    .table-border-bottom{
        border-bottom: 1px solid #EBEBEB;
    }
}
.dataTables_wrapper .dataTable th.dt-right, .dataTables_wrapper .dataTable td.dt-right {
    text-align: right;
}
.dataTables_length select.custom-select{
    display: none;
}
.dataTables_info{
    display: none;
}
.dataTables_length label{
    display: none;
}
.dataTables_wrapper .dataTables_paginate {
    display: none;
}
.dataTables_wrapper thead tr{
    background-color: whitesmoke;
}
.dataTables_wrapper th{
    font-size: 18px;
}
.dataTables_wrapper td{
    font-size: 16px;
}
.btn-excel{
    background-color: #0F783F;
    color: white !important;
    font-size: 15px !important; 
}
.btn-csv{
    background-color: #008000;
    color: white !important;
    font-size: 15px !important; 
    border: none !important;
}
.dataTables_wrapper table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before {
    color: #c9372a;
}
.dataTables_wrapper table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:after {
    color: #c9372a;
}
.display-none{
    display: none !important;
}
.dtr-title{
    display: none
}
.btn-downloadPDF{
    background-color: transparent;
    border: none !important;
}
.btn-invoiceDetails{
    font-size: 16px;
    font-weight: 500 !important;
    color: #AE251C !important;
    font-family: system-ui;
}
.fa-sign-out-alt{
    font-size: 1.4rem !important ;
}
.edit-Ifo {
    font-size: 16px;
}
.nav-sidebar {
    list-style: none;
    padding-inline-start: 0px;
}
::-webkit-input-placeholder {
    color: #CCCBCB !important;
    font-size: 16px !important;
  
  }
  .navbar-collapse .navba-link .active .m-dropdown .nav-link {
    color: #AE251C;
    }
.payment-Box{
    box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    min-height: 250px;
}
.paypal-email{
    font-size: 14px;
    font-weight: bold;
}
.img-payment-metod{
    border: 1px solid #D9D9D9;
    border-radius: 9px;
}
.btn-edit-payment{
    font-size: 16px !important;
    font-weight: 600;
    color: #AE251C !important;
}
.btn-delete-payment{
    font-size: 16px !important;
    font-weight: 600;
    color: #A2A2A2 !important;
}
.expire-text{
    font-size: 15px;
    color: #8B8B8B;
    font-weight: bold;
}
.visa-number{
    font-size: 17px;
    font-weight: bold;
}
.payment-line{
    margin-top: 70px !important;
}
@media (min-width: 576px){
    .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
}
.btn-Close{
    border-radius: 15px;
}
.text-link-payment{
    font-size: 18px;
    font-weight: 500; 
}
.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color:#F3F3F3!important;
}
.expire-text {
    font-weight: 400;
}
.visa-number {
    font-weight: 500;
}
.paypal-email {
    font-weight: 500;
}
.tap-link-payment{
    font-size: 20px !important;
    background-color: #f5f5f5!important;
    border-radius: 15px;
    width: 150px !important;
    text-align: center;
}
.nav-pills .nav-link.active {
    background-color: #ffffff !important;
    border: 2px solid #C9372A;
}
.m-dropdown.m-dropdown--header-bg-fill .m-dropdown__header{
    background-color: #C9372A !important;
}
.flaticon-alert{
    color: #707070;
    font-size: 1.8rem !important;
}
.flaticon-alarm:before {
    content: "\f197";
    font-size: 1.8rem !important;
}
.m-badge.m-badge--dot-small{
    height: 10px;
    width: 10px;
    position: absolute;
    border: 2px solid white;
}
.m-dropdown__toggle:hover {
    text-decoration: none !important;
}
.m-radio>span, .m-checkbox>span {
    height: 24px;
    width: 24px;
    background-color: white !important;
}
.m-radio.m-radio--success>input:checked ~ span {
    border: 1px solid #ffcf58;
    background-color: #ffcf58 !important
}
.m-radio.m-radio--success>span:after {
    border: solid #c9372a;
    background: #c9372a;
}
.m-radio, .m-checkbox {
    margin-bottom: 5px;
}
.price-package{
    font-size: 30px !important;
}
.btn-savePackage{
    padding: .6rem 2.4rem !important;
}